.container-instance {
  left: 0 !important;
  position: absolute !important;
  top: 0 !important;
}

.group-2609212-4 {
  height: 87px !important;
  left: 4px !important;
  position: absolute !important;
  top: 0 !important;
  width: 39px !important;
}
