.container {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 2.5rem;
  padding: 0 1rem 1rem 1rem; /* 적당한 패딩 */
  background-color: #f4f5f7; /* 버튼 배경색, 필요시 조절 */
  box-shadow: 0 -2px 5px rgba(0,0,0,0.05); /* 약간의 그림자 추가 */
}

.resetButton {
  flex-shrink: 0;
  height: 5rem;
  width: 9rem;
  border-radius: 0.5rem;
  border: 1px solid #27b06e;
  box-shadow: 0px -0.96px 3.83px #0000000d;
  color: #27b06e;
  font-size: 23px;
  font-weight: bold;
  font-family: 'Pretendard-Bold', Helvetica;
  transition: background-color 0.2s ease;
}

.resetButton:hover {
  background-color: rgba(39, 176, 110, 0.1);
}

.analyzeButton {
  flex-grow: 1;
  height: 5rem;
  border-radius: 0.5rem;
  background-color: #27b06e;
  border: none;
  color: white;
  font-size: 23px;
  font-weight: bold;
  font-family: 'Pretendard-Bold', Helvetica;
  transition: box-shadow 0.2s ease, background-color 0.2s ease;
}

.analyzeButton:hover {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  background-color: #219e63;
}