.link {
  align-items: flex-start;
  display: inline-flex;
  position: relative;
}

.link .master-link-2 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 6px;
  position: relative;
}

.link .link-item {
  color: var(--primary-colorscolor-1);
  font-family: var(--text-single-200-regular-font-family);
  font-size: var(--text-single-200-regular-font-size);
  font-style: var(--text-single-200-regular-font-style);
  font-weight: var(--text-single-200-regular-font-weight);
  letter-spacing: var(--text-single-200-regular-letter-spacing);
  line-height: var(--text-single-200-regular-line-height);
  margin-top: -1.00px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.link .line-rounded {
  height: 20px !important;
  position: relative !important;
  width: 20px !important;
}
